<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1>Users</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td>
            <a th:href="@{update(id=${user.id})}">Update</a>
            <a th:href="@{delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<hr>
<div><a href="/new"> <button>Create new user</button></a></div>

</body>
</html>